body {
  background: url("./assets/images/background.jpg");
  color: black;
}

.dream-list-heading {
  color: black;
  text-decoration: none;
}
.dream-list-heading:hover {
  color: #f4bbd8; 
  background: black;
}